<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <title>{{title}}</title>
  </head>
  <body>
    <nav>...</nav>
    <main>
      <div class="container mx-auto">
        <h1 class="text-2xl font-black mb-4">Панель управления</h1>

        <div
          class="md:grid md:grid-cols-3 md:gap-4 space-y-4 md:space-y-0 mt-4 w-full"
        >
          <div class="shadow border rounded-lg">
            <div class="flex items-center space-x-4 p-4">
              <div
                class="flex items-center p-4 bg-purple-600 text-white rounded-lg"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="fill-current w-7 h-7"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                >
                  <path
                    d="M17.997 18h-11.995l-.002-.623c0-1.259.1-1.986 1.588-2.33 1.684-.389 3.344-.736 2.545-2.209-2.366-4.363-.674-6.838 1.866-6.838 2.491 0 4.226 2.383 1.866 6.839-.775 1.464.826 1.812 2.545 2.209 1.49.344 1.589 1.072 1.589 2.333l-.002.619zm4.811-2.214c-1.29-.298-2.49-.559-1.909-1.657 1.769-3.342.469-5.129-1.4-5.129-1.265 0-2.248.817-2.248 2.324 0 3.903 2.268 1.77 2.246 6.676h4.501l.002-.463c0-.946-.074-1.493-1.192-1.751zm-22.806 2.214h4.501c-.021-4.906 2.246-2.772 2.246-6.676 0-1.507-.983-2.324-2.248-2.324-1.869 0-3.169 1.787-1.399 5.129.581 1.099-.619 1.359-1.909 1.657-1.119.258-1.193.805-1.193 1.751l.002.463z"
                  />
                </svg>
              </div>
              <div class="flex-1">
                <p class="text-gray-500 font-semibold">Total Subcribers</p>
                <div class="flex items-baseline space-x-4">
                  <h2 class="text-2xl font-semibold">34,567</h2>
                  <p class="text-green-700 flex font-semibold space-x-1">
                    <span>&#8593;</span>
                    <span class="font-bold">122</span>
                  </p>
                </div>
              </div>
            </div>
            <a
              href="#"
              class="block p-3 text-lg font-semibold bg-purple-50 text-purple-800 hover:bg-purple-100 cursor-pointer"
            >
              View all
            </a>
          </div>
          <div class="shadow border rounded-lg">
            <div class="flex items-center space-x-4 p-4">
              <div
                class="flex items-center p-4 bg-purple-600 text-white rounded-lg"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="fill-current w-7 h-7"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                >
                  <path
                    d="M17.997 18h-11.995l-.002-.623c0-1.259.1-1.986 1.588-2.33 1.684-.389 3.344-.736 2.545-2.209-2.366-4.363-.674-6.838 1.866-6.838 2.491 0 4.226 2.383 1.866 6.839-.775 1.464.826 1.812 2.545 2.209 1.49.344 1.589 1.072 1.589 2.333l-.002.619zm4.811-2.214c-1.29-.298-2.49-.559-1.909-1.657 1.769-3.342.469-5.129-1.4-5.129-1.265 0-2.248.817-2.248 2.324 0 3.903 2.268 1.77 2.246 6.676h4.501l.002-.463c0-.946-.074-1.493-1.192-1.751zm-22.806 2.214h4.501c-.021-4.906 2.246-2.772 2.246-6.676 0-1.507-.983-2.324-2.248-2.324-1.869 0-3.169 1.787-1.399 5.129.581 1.099-.619 1.359-1.909 1.657-1.119.258-1.193.805-1.193 1.751l.002.463z"
                  />
                </svg>
              </div>
              <div class="flex-1">
                <p class="text-gray-500 font-semibold">Total Subcribers</p>
                <div class="flex items-baseline space-x-4">
                  <h2 class="text-2xl font-semibold">34,567</h2>
                  <p class="text-green-700 flex font-semibold space-x-1">
                    <span>&#8593;</span>
                    <span class="font-bold">122</span>
                  </p>
                </div>
              </div>
            </div>
            <a
              href="#"
              class="block p-3 text-lg font-semibold bg-purple-50 text-purple-800 hover:bg-purple-100 cursor-pointer"
            >
              View all
            </a>
          </div>
          <div class="shadow border rounded-lg">
            <div class="flex items-center space-x-4 p-4">
              <div
                class="flex items-center p-4 bg-purple-600 text-white rounded-lg"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="fill-current w-7 h-7"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                >
                  <path
                    d="M17.997 18h-11.995l-.002-.623c0-1.259.1-1.986 1.588-2.33 1.684-.389 3.344-.736 2.545-2.209-2.366-4.363-.674-6.838 1.866-6.838 2.491 0 4.226 2.383 1.866 6.839-.775 1.464.826 1.812 2.545 2.209 1.49.344 1.589 1.072 1.589 2.333l-.002.619zm4.811-2.214c-1.29-.298-2.49-.559-1.909-1.657 1.769-3.342.469-5.129-1.4-5.129-1.265 0-2.248.817-2.248 2.324 0 3.903 2.268 1.77 2.246 6.676h4.501l.002-.463c0-.946-.074-1.493-1.192-1.751zm-22.806 2.214h4.501c-.021-4.906 2.246-2.772 2.246-6.676 0-1.507-.983-2.324-2.248-2.324-1.869 0-3.169 1.787-1.399 5.129.581 1.099-.619 1.359-1.909 1.657-1.119.258-1.193.805-1.193 1.751l.002.463z"
                  />
                </svg>
              </div>
              <div class="flex-1">
                <p class="text-gray-500 font-semibold">Total Subcribers</p>
                <div class="flex items-baseline space-x-4">
                  <h2 class="text-2xl font-semibold">34,567</h2>
                  <p class="text-green-700 flex font-semibold space-x-1">
                    <span>&#8593;</span>
                    <span class="font-bold">122</span>
                  </p>
                </div>
              </div>
            </div>
            <a
              href="#"
              class="block p-3 text-lg font-semibold bg-purple-50 text-purple-800 hover:bg-purple-100 cursor-pointer"
            >
              View all
            </a>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="portlet">
          <div class="shadow border rounded-lg">
            <div class="flex items-center space-x-4 p-4">
              <div
                class="flex items-center p-4 bg-purple-600 text-white rounded-lg"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="fill-current w-7 h-7"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                >
                  <path
                    d="M17.997 18h-11.995l-.002-.623c0-1.259.1-1.986 1.588-2.33 1.684-.389 3.344-.736 2.545-2.209-2.366-4.363-.674-6.838 1.866-6.838 2.491 0 4.226 2.383 1.866 6.839-.775 1.464.826 1.812 2.545 2.209 1.49.344 1.589 1.072 1.589 2.333l-.002.619zm4.811-2.214c-1.29-.298-2.49-.559-1.909-1.657 1.769-3.342.469-5.129-1.4-5.129-1.265 0-2.248.817-2.248 2.324 0 3.903 2.268 1.77 2.246 6.676h4.501l.002-.463c0-.946-.074-1.493-1.192-1.751zm-22.806 2.214h4.501c-.021-4.906 2.246-2.772 2.246-6.676 0-1.507-.983-2.324-2.248-2.324-1.869 0-3.169 1.787-1.399 5.129.581 1.099-.619 1.359-1.909 1.657-1.119.258-1.193.805-1.193 1.751l.002.463z"
                  />
                </svg>
              </div>
              <div class="flex-1">
                <p class="text-gray-500 font-semibold">Total Subcribers</p>
                <div class="flex items-baseline space-x-4">
                  <h2 class="text-2xl font-semibold">34,567</h2>
                  <p class="text-green-700 flex font-semibold space-x-1">
                    <span>&#8593;</span>
                    <span class="font-bold">122</span>
                  </p>
                </div>
              </div>
            </div>
            <a
              href="#"
              class="block p-3 text-lg font-semibold bg-purple-50 text-purple-800 hover:bg-purple-100 cursor-pointer"
            >
              View all
            </a>
          </div>
        </div>

        <div class="portlet">
          <div class="portlet-header">News</div>
          <div class="portlet-content">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit
          </div>
        </div>
      </div>

      <div class="column">
        <div class="portlet">
          <div class="portlet-header">Shopping</div>
          <div class="portlet-content">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit
          </div>
        </div>
      </div>

      <div class="column">
        <div class="portlet">
          <div class="portlet-header">Links</div>
          <div class="portlet-content">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit
          </div>
        </div>

        <div class="portlet">
          <div class="portlet-header">Images</div>
          <div class="portlet-content">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit
          </div>
        </div>
      </div>
    </main>

    {{login}}
  </body>

  <footer>
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
      integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
      crossorigin="anonymous"
    ></script>

    <script>
      $(function () {
        $(".column").sortable({
          connectWith: ".column",
          handle: ".portlet-header",
          cancel: ".portlet-toggle",
          placeholder: "portlet-placeholder ui-corner-all",
        });

        $(".portlet")
          .addClass(
            "ui-widget ui-widget-content ui-helper-clearfix ui-corner-all"
          )
          .find(".portlet-header")
          .addClass("ui-widget-header ui-corner-all")
          .prepend(
            "<span class='ui-icon ui-icon-minusthick portlet-toggle'></span>"
          );

        $(".portlet-toggle").on("click", function () {
          var icon = $(this);
          icon.toggleClass("ui-icon-minusthick ui-icon-plusthick");
          icon.closest(".portlet").find(".portlet-content").toggle();
        });
      });
    </script>

    <style>
      .column {
        min-width: 170px;
        float: left;
        padding-bottom: 100px;
      }
      .portlet {
        margin: 0 1em 1em 0;
        padding: 0.3em;
      }
      .portlet-content {
        padding: 0.4em;
      }
      .portlet-placeholder {
        border: 1px dotted black;
        margin: 0 1em 1em 0;
        height: 50px;
      }
      .ui-widget.ui-widget-content {
        border: none;
      }
    </style>
  </footer>
</html>
