<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" />
    <title>{{title}}</title>
</head>

<body>
    <nav>...</nav>
    <main>
        <div class="container mx-auto">
            <h1 class="text-2xl font-black mb-4">Панель управления</h1>

            <div class="px-1 text-gray-900 text-sm">
                <ul class="flex">
                    <li><a href="#" class="underline font-semibold">Главная процедура</a></li>
                    <li><span class="mx-2">/</span></li>
                    <li><a href="#" class="underline font-semibold">Экраны</a></li>
                    <li><span class="mx-2">/</span></li>
                    <li>Домашний экран</li>
                </ul>
            </div>

            <div class="mt-12">
                <div class="column">
                    <div class="portlet shadow border rounded-xl">
                        <div class="portlet-header">Images</div>
    
                        <div class="portlet-content">
                            <div class="flex items-center space-x-4 p-4">
                                ..
                            </div>
                        </div>
                    </div>
                </div>    
            </div>
            

    </main>

    {{login}}
</body>

<footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
        integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>

    <script>
        $(function () {
            $(".column").sortable({
                connectWith: ".column",
                handle: ".portlet-header",
                cancel: ".portlet-toggle",
                placeholder: "ring-4 ring-indigo-300 h-50 ui-corner-all",
            });

            $(".portlet")
                .addClass(
                    "ui-widget ui-widget-content ui-helper-clearfix ui-corner-all"
                )
                .find(".portlet-header")
                .addClass("ui-widget-header ui-corner-all")
                .prepend(
                    "<span class='ui-icon ui-icon-minusthick portlet-toggle'></span>"
                );

            $(".portlet-toggle").on("click", function () {
                var icon = $(this);
                icon.toggleClass("ui-icon-minusthick ui-icon-plusthick");
                icon.closest(".portlet").find(".portlet-content").toggle();
            });
        });
    </script>

    <style>
        .column {
            min-width: 170px;
            float: left;
            padding-bottom: 100px;
        }

        .portlet {
            margin: 0 1em 1em 0;
            padding: 0.3em;
        }

        .portlet-content {
            padding: 0.4em;
        }

        .portlet-placeholder {
            border: 1px dotted black;
            margin: 0 1em 1em 0;
            height: 50px;
        }

        .ui-widget.ui-widget-content {
            border: none;
        }
    </style>
</footer>

</html>